/* Thank You Ibrahim, I have checked both pages and made all necessary corrections/adjustments: Jedidiah/
/* THANK YOU  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5%;
    max-height: 70%;
    background: url("../images/Campus\ News.jpg");
    background-size: cover;
    background-position:100%;
    background-position-x: center;
    opacity: 250%;
    overflow-y: scroll;
    
}

body::before {
    content: "";
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    background-size: cover;
    z-index: -1;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding-inline-start: 0px;
    margin-block: 0;
    flex-wrap: wrap;
}

.navigation {
    color: rgb(12, 11, 11);
    background-color: rgba(175, 12, 12, 0);
    height: 5.5em;
    margin: auto;
    overflow: hidden;
    z-index: 1001;
}

@media only screen and (min-width: 480px) and (max-width: 3600px) {

    html,
    body {
        margin: auto;
    }

    .navigation {
        margin: auto;
        height: 5.5em;
        overflow: hidden;
        z-index: 1001;
    }

    .navbar {
        position: fixed;
        top: 3;
        right: 0;
        width: 100%;
    }

    .navbar #myLinks {
        display: flex;
        justify-content: flex-end;
    }

    .navbar a {
        display: inline-block;
        margin-left: 1em;
        font-size: 9px;
        padding: 10px 2px;
        overflow-x: hidden;
        text-decoration: none;
    }
}

.icon {
    position: fixed;
    top: 3;
    right: 0;
    padding: 10px;
    background-color: #1f1f1f2e;
    height: 3em;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    position: relative;
}

.navbar #myLinks {
    display: none;
    float: right;
    overflow: hidden;
}

.navbar a {
    color: rgb(7, 7, 7);
    padding: 15px 12px;
    text-decoration: none;
    font-size: 14px;
    float: left;
    top: 3;
}

.navbar a h3 {
    font-size: large;
    font-weight: bolder;
    padding-left: .1em;
    top: 3;
}

.navbar a:hover {
    background-color: #dddddd76;
    color: black;
}

.navbar a.active::before {
    content: "";
    background-color: rgb(4, 4, 4);
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    top: 0;
}

.wrapper {
    position: relative;
    width: 30vw;
    height: 82vh;
    background: transparent;
    border: 2px solid rgba(252, 75, 75, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: .9em;
    margin-top: 20em;
    margin-bottom: 5.0em;
    transition: transform .5s, height .2s ease;
    line-height: 2px;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper.form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transform: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.Courses {
    font-weight: bolder;
    text-shadow: 0 0 25px rgba(255, 255, 255, 2.89);
    line-height: 15.5px;
}

.form-box h2 {
    color: rgb(45, 44, 44);
    text-align: center;
}

#button {
    position: absolute;
    top: px;
    right: 30px;
    background-color: rgba(255, 0, 0, 0.51);
    border: 4px solid rgba(34, 32, 32, 0.21);
    color: black;
    border-radius: 70px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    z-index: 1001;
}

.button {
    text-decoration: none;
    color: #ddd;
}

#button a:hover {
    color: black;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(160, 37, 37);
    margin: 30px 0px;
}

.input-box label {
    position: absolute;
    top: -3px;
    left: 0;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(241, 57, 57);
    font-weight: 500;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus-label,
.input-box input:volid-label {
    top: -7px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    font-size: 1.8em;
    color: black;
    line-height: 60px;
}

.ingat {
    font-size: 0.9rem;
    color: rgb(2, 2, 2);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: bolder;
}

.ingat label input {
    accent-color: rgb(241, 57, 57);
    margin-left: 3px;
}

.ingat a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    margin: 7px 0 15px;
}

.ingat a:hover {
    text-decoration: underline;
}

.btn {
    width: 60%;
    height: 5vh;
    background: rgb(160, 37, 37);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-left: 3.5em;
    margin-right: 3.5em;
}

.login-register {
    font-size: 0.9em;
    color: rgb(241, 57, 57);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
}

.login-register p a:hover {
    text-decoration: underline;
}



/* INITIAL STYLE FOR THE SING IN PAGE */
/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

#signin-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 2rem;
}

#signin-form label {
    display: block;
    margin-bottom: 0.5rem;
}

#signin-form input[type="email"],
#signin-form input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#signin-form button {
    background-color: #5cb85c;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#signin-form button:hover {
    background-color: #4cae4c;
}

#forgot-password {
    text-align: center;
}

#forgot-password a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#forgot-password a:hover {
    color: #0056b3;
} */

/* Media queries for responsive design
@media screen and (max-width: 768px) {
    .logo{
        font-size: 1em;
    }
    #signin-form {
        padding: 1.5rem;
    }

    #signin-form input[type="email"],
    #signin-form input[type="password"] {
        padding: 0.3rem;
    }

    #signin-form button {
        padding: 0.3rem 1rem;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.2rem;
    }

    #signin-form {
        padding: 1rem;
    }

    #signin-form input[type="email"],
    #signin-form input[type="password"] {
        padding: 0.2rem;
    }

    #signin-form button {
        padding: 0.2rem 1rem;
    }
}   */