* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: red;
}

span {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.span-black {
    color: black;
    font-style: normal;
}

/* header {
    position: relative;
    padding-top: 7px;
    height: 3.0rem;
    font-size: 1em;
    border: 5px solid red;
} */

/* HEADER */

.logo-container {
    max-width: 100%;
    margin: 0 auto;
}

.logo-container>.logo {
    display: inline-flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
    max-width: 100%;
    max-height: 50%;
    margin: 10px;
    padding: 0;
    /* align-items: center; */
}

.navigation {
    color: rgb(255, 255, 255);
    background-color: rgba(175, 12, 12, 0);
    height: 2.5em;
    margin: auto;
    overflow: hidden;
}

@media only screen and (min-width: 480px) and (max-width: 3600px) {

    html,
    body {
        margin: auto;
    }

    .navigation {
        margin: auto;
        height: 2.5em;
        overflow: hidden;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
    }

    .navbar #myLinks {
        display: flex;
        justify-content: flex-end;
    }

    .navbar a {
        display: inline-block;
        margin-left: 1em;
        font-size: 9px;
        padding: 10px 2px;
        overflow-x: hidden;
        text-decoration: none;
    }
}

.icon {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #1f1f1f2e;
    height: 3em;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    z-index: 1001;
}

.navbar {
    overflow: hidden;
    position: relative;
}

.navbar #myLinks {
    display: none;
    float: right;
    overflow: hidden;
}

.navbar a {
    color: rgb(7, 7, 7);
    padding: 15px 12px;
    text-decoration: none;
    font-size: 14px;
    float: left;
}

.navbar a h3 {
    font-size: large;
    font-weight: bolder;
    padding-left: .1em;
}

.navbar a:hover {
    background-color: #dddddd76;
    color: black;
}

.navbar a.active::before {
    content: "";
    background-color: rgb(4, 4, 4);
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    top: 0;
}

@media only screen and (min-width: 144px) and (max-width: 3240px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: calc(1.5rem + 1vw);
    }

    body {
        font-size: calc(1rem + 0.5vw);
    }

    .banner img {
        width: 100%;
        position: relative;
    }

    .banner-title {
        padding-left: 5px;
    }

    #resource {
        text-shadow: 0 0 calc(25px + 1vw) rgba(13, 13, 34, 2.89);
    }

    #gateway {
        background-color: crimson;
    }

    .nav-bar {
        padding: calc(1em + 0.5vw);
    }

    .nav-item {
        margin-right: calc(1em + 0.5vw);
    }

    .header-gateway {
        padding: calc(48px * (100vw - 144px) / (3240 - 144));
        text-align: center;
    }

    .header-gateway h1 {
        font-size: calc(48px * (100vw - 144px) / (3240 - 144));
        font-weight: bold;
    }

    .header-gateway h6 {
        font-size: calc(18px * (100vw - 144px) / (3240 - 144));
    }

    #gateway {
        padding: calc(2px * (100vw - 144px) / (3240 - 144)) calc(4px * (100vw - 144px) / (3240 - 144));
        border-radius: calc(4px * (100vw - 144px) / (3240 - 144));
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        padding: 0 calc(1.5rem * (100vw - 144px) / (3240 - 144));
        color: black;
    }

    .navbar a {
        display: flex;
        margin-left: calc(2em * (100vw - 144px) / (3240 - 144));
        gap: calc(1em * (100vw - 144px) / (3240 - 144));
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: calc(2rem * (100vw - 144px) / (3240 - 144));
        transition: all 300ms ease;
        padding: 0 calc(1rem * (100vw - 144px) / (3240 - 144));
        text-decoration: none;
        font-size: calc(1.1em * (100vw - 144px) / (3240 - 144));
        overflow-x: hidden;
    }

    .navbar a:hover {
        padding-top: calc(1.5rem * (100vw - 144px) / (3240 - 144));
    }

    .navbar a.active::before {
        content: "";
        background-color: rgb(4, 4, 4);
        position: absolute;
        height: calc(3px * (100vw - 144px) / (3240 - 144));
        width: 100%;
        left: 0;
        top: 0;
    }
}

/* SHOWCASE */

.about-us-showcase {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3)70%, rgba(0, 0, 0, 0.3)90%), url(./images/about-us-img.jpg);
    width: 100%;
    height: 370px;
    object-fit: cover;
}


/* MAIN ABOUT */

.main-about-div {
    display: flex;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* width: 95%; */
    /* margin: 25px auto; */
    height: auto;
    flex-wrap: wrap;
}

.about-text {
    width: auto;
    padding: 10px;
    background-color: #f1ebeb;
    margin: 20px;
}

.about-text h2 {
    text-align: left;
    /* font-size: 15px; */
    padding: 0;
}

.about-text .welcome {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-text p {
    font-size: 15px;
    color: #505050;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    line-height: 26px;
    font-weight: 400;
    /* word-wrap: wrap; */
}

.about-image img {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: 700px;
    border-radius: 25px;
    margin: 20px;
}


/* MISSION, VISION AND VALUE STATEMENT */

.our-mission-vision {
    width: 100%;
}

.our-mission-vision img {
    width: 350px;
    padding: 15px;
    float: left;
}

.mvv-div {
    background-color: #f1ebeb;
    width: 60%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.our-mission-vision p {
    text-align: justify;
    padding: 15px;
}


/* OUR TEAM */

.our-team {
    clear: both;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.images img {
    width: 200px;
    padding: 20px;
    margin: 0 auto;
}

.images .team-title {
    text-align: center;
}

.images .team-title h5 {
    color: rgb(6, 6, 41);
}

/* OUR APPROACH */
.our-approach {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-approach h2 {
    padding-top: 100px;
}

.our-approach img {
    object-fit: fill;
    width: 800px;
    float: left;
    border-radius: 35px;
    padding: 15px;
}

.our-approach p {
    padding: 15px;
    text-align: justify;
    background-color: #f1ebeb;
    width: 70%;
    line-height: 2em;
}

.our-approach .approach-img2 {
    object-fit: fill;
    width: 400px;
    float: left;
    border-radius: 35px;
    padding: 15px;
}


/* PARTNERS */
.our-partnership {
    clear: both;
}

.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.partners img {
    width: 150px;
    max-width: 150px;
    margin: 20px;
    /* padding: 25px; */
}



/* FOOTER */


.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #dfdcdc93;
    border-top: 1px solid #e5e5e5;
    max-height: 100rem;
}

.footer>* {
    flex: 1 100%;
}

.footer-addr {
    margin-right: 1.2 em;
    margin-bottom: 2em;
}

.footer-logo {
    font-family: 'Georgia', cursive;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: crimson;
}

.footer-addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-flow: row wrap;
}

.footer-nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav-ul a {
    color: #999;
}

.nav-ul-extra {
    column-count: 2;
    column-gap: 1.25em;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.copyright-link {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

ul li {
    list-style: none;
}
/* RESPONSIVE STYLING BEGIN */

@media (min-width: 576px) and (max-width: 576px) {
    header {
        font-size: 0.8em;
        height: 2.5rem;
    }

    .header-text {
        font-size: 1.5rem;
        padding-top: 15rem;
    }

    .logo-container>.logo {
        position: relative;
        height: auto;
        margin: 0;
        padding: 0;
        width: 70px;
    }
}


@media (min-width: 768px) and (max-width: 768px) {
    .logo-container>.logo {
        width: 90px;
    }
}


@media (min-width: 992px) and (max-width: 992px) {
    .logo-container>.logo {
        width: 110px;
    }
}

@media (min-width: 1200px) {
    .logo-container>.logo {
        width: 100px;
    }
}


@media screen and (max-width: 768px) {
    .copyright .copyright-link {
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .footer-nav>* {
        flex: 1;
    }

    .nav-item-extra {
        flex-grow: 2;
    }

    .footer-addr {
        flex: 1 0px;
    }

    .footer-nav {
        flex: 2 0px;
    }
}

.team {
    padding-top: 5rem;
}

.tech-images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tech1 {
    margin: 0 10px 20px;
    padding: 20px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: #c2c0c0;
}

h2 {
    text-align: center;
    padding: 2.5rem;
}

.lorem {
    padding-top: 21em;
    text-align: center;
}

.header-image {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
    z-index: 1;
}

.image-container {
    width: 100%;
    max-height: 350px;
    position: relative;
}