    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Oswald"
    }

    body {
        font-family: "Open Sans"
    }


    /* Landing Page Styling */

    #resource {
        text-shadow: 0 0 25px rgba(13, 13, 34, 2.89);
        color: black;
    }